@model List<MVC.Models.Person>


<div class="personContainer row">

    <div>
        <h4>Id</h4>
    </div>

    <div>
        <h4>Name</h4>
    </div>

    <div>
        <h4>Phone Number</h4>
    </div>

    <div>
        <h4>City</h4>
    </div>

</div>


@foreach (var person in Model)
{

    <div class="personContainer row">

        <div>
            <h4>@person.PersonId</h4>
        </div>

        <div>
            <h4>@person.Name</h4>
        </div>

        <div>
            <h4>@person.PhoneNr</h4>
        </div>

        <div>
            <h4>@person.City</h4>
        </div>


    </div>
}
