@model MVC.Models.PeopleViewModel

<h1>People</h1>

<form class="search-person-form" asp-controller="People" asp-action="Index" method="post">

    <div class="form-group">
        <label for="name">Search</label>
        <label asp-for="FilterString"></label>
        <input class="form-control" asp-for="FilterString" />
    </div>

    <button class="btn btn-primary btn-sm" type="submit">Search</button>
</form>

<br />

<form class="create-person-form" asp-controller="People" asp-action="CreatePerson" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for=Name>Name</label>
        <input asp-for=Name class="form-control" type="text" />
        <span asp-validation-for=Name></span>
    </div>

    <div class="form-group">
        <label asp-for=PhoneNumber>PhoneNr</label>
        <input asp-for=PhoneNumber class="form-control" type="text" />
        <span asp-validation-for=PhoneNumber></span>
    </div>

    <div class="form-group">
        <label asp-for=City>City</label>
        <input asp-for=City class="form-control" type="text" />
        <span asp-validation-for=City></span>
    </div>


    <input class="btn btn-primary btn-sm" type="submit" value="Create" />
</form>

<br />

<div class="container-fluid">

    <div class="personContainer row">

        <div>
            <h4>Id</h4>
        </div>

        <div>
            <h4>Name</h4>
        </div>

        <div>
            <h4>Phone Number</h4>
        </div>

        <div>
            <h4>City</h4>
        </div>
        
        <div>

        </div>

    </div>

    @if (Model != null)
    {
        foreach (var person in Model.PeopleListView)
        {
             <partial name="~/Views/Shared/_PersonPartialView.cshtml" model=person />
        }
    }
</div>