* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.container {
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: 940px;
    margin: 0;
}

body {
    margin: auto;
    background-color: rgb(249, 249, 249);
}

#navLogo {
    width: 80px;
}

header {
    height: 75px;
    background-color: #1F2833;
    font-weight: bold;
}

header ul {
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: start;
    align-items: center;
    font-size: 1.5rem;
    padding-right: 20px;
    padding-left: 5px;
}

header ul li a {
    height: 100%;
    margin-left: .5rem;
    text-decoration: none;
    color: white;
}

    header ul li a:hover {
        color: #45A29E;
    }

footer {
    height: 200px;
    width: 100%;
    background-color: #1F2833;
    color: white;
    margin: auto;
}

.content {
    background-color: #ff00000a;
    min-height: calc(100vh - 275px);
    padding: 20px;
}

.footerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.doctorForm{
    width: 220px !important;
}

.search-person-form{
    width: 400px;
}

.create-person-form {
    width: 400px;
}

.personContainer {
    display: flex;
    background-color: #1F2833;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 3px grey;
}

    .personContainer div {
        display: flex;
        width: 100%;
        padding: 10px;
        margin: auto;
        /*text-align: center;*/
    }

.personContainer div h4 {
    margin: 0 !important;
}

.language-form-container {
    width: 300px;
}

.language-form-select-container {
    display: flex;
    flex-direction: column;
}

.language-form-button-container {
    position: relative;
    top: 10px;
    bottom: 10px;
}

.language-table-container {
    position: relative;
    top: 20px;
}