<div>
    <h1>Contacts</h1>
    <h3><a href="https://www.linkedin.com/in/anton-nordgren/">Linkedin</a></h3>
    <h3><a href="https://github.com/AntonNordgren">GitHub</a></h3>
    <h3>anton.nordgren1@gmail.com</h3>
</div>
